body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  user-select: none;
}

.head {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.head .switch-day {
  display: flex;
  color: rgb(34, 130, 255)
}

.head .switch-day .curr-value {
  margin-right: 40px;
}

.head .switch-day .switch-btn {
  margin: 0 20px;
  cursor: pointer;
}

.table {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  min-width: 790px;
  border-bottom: 1px solid rgb(194, 194, 194);
  border-top: 1px solid rgb(194, 194, 194);
}

.red-line {
  width: 2px;
  background: red;
  height: inherit;
  pointer-events: none;
  top: 0;
  position: absolute;
}

.curr-block {
  z-index: 99999;
  position: absolute;
  height: 35px;
  border-radius: 5px;
  border: 2px dashed rgb(2 109 241);
  background: rgb(0 121 255 / 77%);
  box-sizing: border-box;
  cursor: pointer;
}

.active-block {
  border: none;
}

.active-block .curr-time {
  opacity: 0.6;
  transition: 0.3s;
}

.active-block:hover {
  background: rgba(49, 145, 255, 0.77);
  border: 2px solid rgb(2 109 241);

}

.active-block:hover .curr-time {
  opacity: 1;
}


.curr-block .curr-time {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 500;
  padding: 1px 5px;
  background: #fff;
  border-radius: 7px;
  border: solid 1px #454545;
  margin-bottom: 3px;
  min-width: 90px;
  width: fit-content;
}

.curr-block:hover .curr-time .btn-delete {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('./img/remove-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 209);
  min-height: 27px;
}

.row .active {
  background: rgba(48, 95, 250, 0.596);
  border-bottom: blue 2px solid;
  border-top: blue 2px solid;
}

.minute-part {
  width: 100%;
  height: 100%;
  /* border-left: 1px solid #000; */
}

.empty-cell {
  width: 5% !important;
  min-width: 30px;
}

.row {
  border-bottom: 1px solid rgb(199, 199, 199);
  display: flex;
}


.table .head-cell:nth-child(1) {
  border-left: 1px solid #000;
}

.table .row-head .white-space {
  margin-right: 10%;
  width: 100px;
  border-right: 1px solid rgb(97, 97, 97);
}

.table .row-head .cell {
  width: 5%;
  font-size: 12px;
  position: relative;
  z-index: 20;
  background: #fff;
}

.table .row .named-cell {
  width: 8.4%;
  min-width: 60px;
  font-size: 12px;
  white-space: nowrap;
  text-align: right;
}